body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Social Media link styles */
#social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#social-media ul li {
  margin: 0 10px;
}

#social-media ul li a {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

#social-media ul li a:hover {
  color: #333;
}
